@import "mixins.scss";
body {
	color: #000;
	background: #FFF;
	.spinner {
	  margin: 20px auto -10px auto;
	  width: 100px;
	  text-align: center;
	}

	.spinner > div {
	  width: 15px;
	  height: 15px;
	  background-color: #000;
	  margin: 0 3px;
	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.spinner .bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}

	.spinner .bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}

	@-webkit-keyframes sk-bouncedelay {
	  0%, 80%, 100% { -webkit-transform: scale(0) }
	  40% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bouncedelay {
	  0%, 80%, 100% { 
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  } 40% { 
	    -webkit-transform: scale(1.0);
	    transform: scale(1.0);
	  }
	}
	.animated {
	  -webkit-animation-duration: 0.5s;
	  -moz-animation-duration: 0.5s;
	  -o-animation-duration: 0.5s;
	  animation-duration: 0.5s;
	}
	a {
		color: $apple_blue;
	}
	span.tag.new {
		background: $apple_red;
		color: #FFF;
	}
	span.tag.discount {
		background: $apple_green;
		color: #FFF;
	}
	.button.is-primary {
		background-color: $apple_blue;
		&:hover {
			background-color: $apple_blue;
		} 
		&.is-outlined, &.is-outlined:hover {
			border-color: $apple_blue;
			color: $apple_blue;
			background-color: #FFF;
		}
	}
	.button.is-primary[disabled] {
		background-color: $apple_blue;
		opacity: 0.5;
	}
	.button.is-danger {
		background-color: $apple_red;
		&:hover {
			background-color: $apple_red;
		} 
		&.is-outlined, &.is-outlined:hover {
			border-color: $apple_red;
			color: $apple_red;
			background-color: #FFF;
		}
	}
	.button.is-positive {
		background-color: $apple_green;
		&:hover {
			background-color: $apple_green;
		} 
	}
	.dropdown {
		a.is-danger {
			color: $apple_red;
		}
		a.is-success {
			color: $apple_green;
		}
	}
	h1.is-danger, h2.is-danger {
		color: $apple_red;
	}
	.free_trial_text {
		color: $apple_green;
		font-weight: 600;
	}
	.dropdown-item.dropdown_title {
		font-weight: 600;
	}
	.dropdown-trigger {
		cursor: pointer;
	}
	.dropdown-item {
		span.new {
			background: $apple_red;
			color: #FFF;
			position: absolute;
			height: 15px;
			width: 15px;
			background: $apple_red;
			border-radius: 10px;
			color: #FFF;
			text-align: center;
			line-height: 15px;
			font-size: 9px;
			margin: 3px 0 0 5px;
		}
	}
	.modal {
		z-index: 1000;
		.modal-background {
			// background-color: rgba(0,0,0,0.9);
		}
	}
	.mojo_container {
		max-width: 980px;
		margin: 0 auto;
		padding: 0 20px;
		h2 {
			font-weight: 600;
			font-size: 28px;
			padding-bottom: 20px;
		}
		p.subheading {
			margin-top: -14px;
			padding-bottom: 20px;
			position: relative;
			z-index: 100;
		}
	}
	.tabs.is-toggle li.is-active a {
	  border-color: $apple_blue;
	  background-color: $apple_blue;
	}
	&.upgrade {
		.pricingtable {

			&.monthly {
				.annual {
					display: none;
				}
			}
			&.annual {
				.monthly {
					display: none;
				}
			}
		}
		h2 {
			text-align: center;
		}
		.pricing_toggle {
			padding-bottom: 10px;
			li {
			  position: relative;
			  width: 200px;

			  img.save20 {
			    position: absolute;
			    width: 120px !important;
			    right: -140px;
			    height: auto !important;
			    min-width: 0 !important;
			    max-width: 120px !important;
			  }
			}
		}
	}
	.free_trial_notice {
		font-weight: 600;
		color: $apple_green;
		font-size: 12px;
		padding-top: 2px;
		a {
			color: $apple_green;
		}
	}
	.free_trial_notice_banner, .subtle_notice_banner, #starburst-announcement {
		background: $apple_green;
		padding: 12px 8px;
		color: #FFF;
		font-weight: 700;
		text-align: center;
		font-size: 13px;
		position: relative;
		z-index: 1000;
		a {
			color: #FFF;
			text-decoration: underline;
		}
		a#starburst-close {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50px;
			overflow: hidden;
			text-indent: -100px;
			background-image: asset-data-url('times.svg');
			background-position: 50% 50%;
			background-size: auto 55%;
			background-repeat: no-repeat;
			opacity: 0.5;
		}
	}
	.free_trial_notice_banner {
		background: $apple_red;
	}
	.subtle_notice_banner, #starburst-announcement {
		background: $apple_grey_background;
		color: #000;
		border-bottom: 1px solid $apple_grey_light;
		a {
			color: $apple_blue;
			text-decoration: underline;
		}
	}
	#starburst-announcement {
		background: $apple_yellow;

	}
	.mojo_header {
		padding: 30px;
		padding-bottom: 50px;
		position: relative;
		z-index: 1000;
		.level {
			.level-item {
				margin: 0;
			}
			.level-right {
				.level-item {
					margin-left: 20px;
				}
			}
			.level-left {
				.level-item {
					margin-right: 20px;
					&.breadcrumb_item {
						font-size: 20px;
						font-weight: 600;
						&.breadcrumb_spacer {
							margin-right: 10px;
							margin-left: -10px;
							font-weight: 400;
						}
					}
					h1 {
						font-weight: 600;
						font-size: 20px;
						a {
							// color: #000;
						}
					}
				}
			}
		}
		img {
			display: block;
			&.logo {
				height: 25px;

			}
		}
		.hamburger {
			position: relative;
			.notification_badge {
				position: absolute;
				height: 15px;
				width: 15px;
				background: $apple_red;
				border-radius: 10px;
				top: -6px;
				right: -7px;
				color: #FFF;
				text-align: center;
				line-height: 15px;
				font-size: 9px;
			}
			img {
				width: 25px;
				height: 25px;
			}
		}
		.avatar {
			img {
				width: 35px;
				height: 35px;
				border-radius: 20px;
				background: #EEE;
			}
		}
	}

	.item_admin_controls {
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 20px;
		.dropdown-trigger {
			img {
				opacity: 0.2;
				height: 25px;
				display: block;
			}
		}
	}

	.general_slim_notice {
		background: $apple_grey_background;
		padding: 10px;
		border-radius: 5px;
		font-size: 13px;
		margin-bottom: 15px;
		color: $apple_grey_dark;
		font-weight: 600;
	}
	.general_list {
		border-bottom: 1px solid $apple_grey_lightest;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.general_list_explain {
		margin-bottom: 20px;
		margin-top: -15px;
		color: $apple_grey_dark;
	}
	.general_item {
		border-top: 1px solid $apple_grey_lightest;
		padding: 10px;
		.level-right {
			.level-item {
				margin: 0 0 0 10px;
			}
		}
		.avatar {
			img {
				width: 35px;
				height: 35px;
				border-radius: 20px;
				background: #EEE;
			}
		}
	}

	.empty_content {
		border: 2px solid $apple_grey_lightest;
		background: $apple_grey_background;
		padding: 50px 20px;
		border-radius: 8px;
		text-align: center;
		font-size: 18px;
		.cta {
			padding-top: 20px;
			a {
				min-width: 200px;

			}
		}
		.cta_small_text {
			padding-top: 20px;
			font-size: 14px;
			opacity: 0.5;
		}
	}

	.selectable_cards {
		// padding: 15px 0 20px 0;
		padding-bottom: 20px !important;
		.card {
			border-radius: 8px;
			height: 100%;

		}
		.plan_note {
			text-align: center;
			padding: 20px;
			padding-top: 10px;
		}
		.selectable_card {
			// min-height: 150px;
			padding: 20px;
			border-radius: 8px;
			position: relative;
			height: 100%;
			padding-bottom: 100px;

			a:not(.button) {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			&.selected {
				box-shadow: 0 0 8px $apple_blue;
			}
			.card_title {
				font-weight: 600;
				font-size: 22px;
				padding-bottom: 5px;
			}
			.card_subtitle {
				font-weight: 600;
				font-size: 16px;
				margin-top: -4px;
				padding-bottom: 8px;
				color: $apple_grey_dark;
				&.disclaimer {
					font-weight: 400;
				}
				&.discounted {
					color: $apple_green;
				}
			}
			.cta {
				padding-top: 20px;
				text-align: center;
				position: absolute;
				bottom: 20px;
				width: 100%;
				left: 0;
				.button {
					min-width: 200px;
				}
			}
			ul {
				font-size: 13px;
				font-weight: 600;
				color: $apple_grey_dark;
				li {
					margin-bottom: 5px;
				}
				span.check {
					color: $apple_green;
					font-weight: 600;
					padding-right: 5px;
				}
			}
		}
	}

	.mojo_footer {
		text-align: center;
		color: $apple_grey_dark;
		font-weight: 600;
		font-size: 13px;
		padding: 30px;
	}

	.confetti_container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.button.social_login {
	  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.1);
	  color: $apple_blue;

	  img.icon {
	    display: block;
	    padding: 3px;
	    margin-right: 8px !important;
	  }
	}
	.social_logins {
		max-width: 500px;
		margin: 0 auto;
		padding-bottom: 20px;
		.signin_title {
			padding-bottom: 30px;
			text-align: center;
			color: $apple_grey_dark;
			img {
				display: block;
				height: 50px;
				margin: 0 auto;
				margin-bottom: 20px;
			}
			strong {
				font-size: 20px;
				color: #000;
			}
		}
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.tabbed_content {
		.tabbed_content_box {
			display: none;
			&.open {
				display: block;
			}
		}
	}
	pre.integration {
		background-color: transparent;
		padding: 0;
		margin-bottom: 40px;
	}
	span.tag.is-important {
		background: $apple_red;
		color: #FFF;
		font-size: 10px;
		text-transform: uppercase;
		top: -2px;
		position: relative;
		letter-spacing: 0.05em;
		padding-right: 5px;
		padding-left: 5px;
		font-weight: 600;
	}
}

@media only screen and (max-width : 768px) {

	body {
		.selectable_cards {
			.selectable_card {
				min-height: 0;
			}
		}

		&.upgrade {
			.pricing_toggle {
				li {
					width: auto;
				  img.save20 {
				    display: none;
				  }
				}
			}
		}

		.mojo_header {
			padding: 20px;
			.level {
				.level-right {
					.level-item {
						margin-left: 15px;
					}
				}
				.level-left {
					.level-item {
						margin-right: 15px;
						&.breadcrumb_item {
							display: none;
						}
						h1 {
							max-width: 210px;
							white-space: nowrap; 
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}
		}
	}

}