@import "mixins.scss";
body {
	form {
		color: #000;
		.select select {
		  text-rendering: auto !important;
		}
		.form_errors {
			color: #CC0000;
		}
		.is-checkradio[type="radio"] + label, .is-checkradio[type="checkbox"] + label {
			margin: 0;
		}
		.field.check_box {
			padding: 0.3rem 0;
		}
		.actions {
			padding-top: 30px;
			input.button {
				min-width: 200px;
			}
		}
		.pickr {
			// margin-top: -7px !important;
			.pcr-button {
				width: 100px !important;
				height: 50px !important;
			}
		}
		.colour_picker {

			// width: 100px;
			// height: 50px;
		}
		.form_advanced_controls {
			display: none;
		}
	}
}