@import "mixins.scss";
body {
	.form_toggle_section {
		border-top: 1px solid $apple_grey_lightest;
		border-bottom: 1px solid $apple_grey_lightest;
		margin-bottom: -1px;
		.form_toggle_content {
			display: none;
		}
		&.opened {
			.form_toggle_control a {
				opacity: 1;
				background-image: asset-data-url('chevron-up.svg');
			}
			.form_toggle_content {
				display: block;
				padding: 20px;
				background: $apple_grey_lightest_50;
			}
		}
		.form_toggle_control a {
			opacity: 0.3;
			display: block;
			padding: 20px;
			color: #000;
			font-size: 18px;
			font-weight: 700;
			background-image: asset-data-url('chevron-down.svg');
			background-position: right 20px top 50%;
			background-size: auto 37%;
			background-repeat: no-repeat;
			&:hover {
				opacity: 1;
			}
		}
	}
	.form_progress_container {
	  height: 12px;
	  border-radius: 18px;
	  background: #EBEBEB;
	  margin-bottom: 5px;
	  .form_progress {
	    height: 12px;
	    border-radius: 18px;
	    background: #4CD964;
	    width: 1px;
	  }
	}
	.level.form_progress_labels {
		color: #A1A1A1;
		font-size: 12px;
		padding-top: 1px;
	}
	form {
		color: #000;
		.select select {
		  text-rendering: auto !important;
		}
		.form_errors {
			color: #CC0000;
			border: 2px solid #CC0000;
			padding: 5px 8px;
			margin-bottom: 20px;
		}
		.is-checkradio[type="radio"] + label, .is-checkradio[type="checkbox"] + label {
			margin: 0;
		}
		.field.check_box {
			padding: 0.3rem 0;
		}
		.actions {
			padding-top: 30px;
			input.button {
				min-width: 200px;
			}
		}
		.pickr {
			// margin-top: -7px !important;
			.pcr-button {
				width: 100px !important;
				height: 50px !important;
			}
		}
		.colour_picker {

			// width: 100px;
			// height: 50px;
		}
		.form_advanced_controls {
			display: none;
		}
		.advanced_controls {
			display: none;
		}
	}
}