@import "mixins.scss";
body {
	.modal {
		z-index: 10001;
	}
	.free_plan_usage {
		// border-bottom: 1px solid $apple_grey_light;
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.08);
		background: #FFF;
		.level-item {
			border-right: 1px solid $apple_grey_lightest;
			padding: 0 30px;
			height: 60px;
			margin: 0 !important; 
			&.progress_item {
				padding-right: 0;
				border-right: none;
			}
			&.progress_item_count {
				padding-left: 15px;
				font-size: 10px;
				text-transform: uppercase;
				letter-spacing: 1px;
				.tooltip:before {
					letter-spacing: 0;
					text-transform: none;
				}
				span {
					top: 0.5px;
					position: relative;
					border-bottom: 1px dotted #FFF;
				}
				span.tooltip {
					cursor: pointer;
					border-bottom: 1px dotted $apple_grey_light;
				}
			}
		}
		.level-right {
			.level-item {
				border: none;
			}
		}
		.free_plan_progress_bar {
			height: 8px;
			width: 100px;
			border-radius: 20px;
			background: $apple_green;
			overflow: hidden;
			position: relative;
			&.near_quota {
				background: $apple_red;
				.progress {
					background: $apple_red;
				}
			}
			.progress_overlay {
				position: absolute;
				height: 100%;
				width: 100%;
				background: rgba(255,255,255,0.8);
			}
			.progress {
				position: absolute;
				height: 100%;
				background: $apple_green;
				z-index: 100;
			}
		}
	}
	.onboarding_container {
		background: #FFF;
		padding: 50px;
		position: relative;
		a.delete {
			position: absolute;
			right: 30px;
			top: 30px;
		}
		img.logomark {
			display: block;
			margin: 0 auto;
			height: 3rem;
		}
		text-align: center;
		h1 {
			font-size: 2rem;
			font-weight: 700;
			padding: 1rem 0;
		}
		p {
			font-size: 1.5rem;
		}
		p.cannot_auto_detect {
			display: none;
			font-size: 1rem;
			margin-bottom: 1.25rem;
			margin-top: -0.75rem;
		}
		form, table.table {
			margin-top: 2rem;
			input[type=submit] {
				min-width: 150px;
			}
		}
		.spinner, .onboarding_step {
			display: none;
		}
		.onboarding_step.step1 {
			display: block;
		}
		table.table {
			margin-bottom: 2rem;
		}
		.alternative_cta {
			font-size: 1rem;
			padding-top: 2rem;
		}
		a.onboarding_finished {
			min-width: 450px;
		}
		// table.table span.tag {
		// 	display: none;
		// }
	}
}